<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container">


        <div class="row m-5">
            <div class="col-md-10">
                <h1>CV Generator</h1>
                <hr>
            </div>
            <div class="col-md-2 ">
                <a href="{% url "list" %}" class="btn btn-outline-info">Resume List</a>
            </div>
        </div>

        <div class="row m-5">
            <div class="col-md-12">
                <h4>Please fill out your details</h4>
            </div>
        </div>

        <div class="row m-5">
            <div class="col-md-7">
                <form method="POST"> 
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="">Name</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Eg John Doe" required>
                    </div>

                    <div class="form-group">
                        <label for="">Phone</label>
                        <input name="phone" type="text" class="form-control" id="phone"  placeholder="Eg 99999999999999" required>
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input name="email" type="text" class="form-control" id="email"  placeholder="Eg @hotmail.com" required>
                    </div>

                    <div class="form-group">
                        <label for="">School</label>
                        <input name="school" type="text" class="form-control" id="school"  placeholder="MIT" required>
                    </div>

                    <div class="form-group">
                        <label for="">Degree</label>
                        <input name="degree" type="text" class="form-control" id="degree"  placeholder="B-Tech Infromation Technology" >
                    </div>

                    <div class="form-group">
                        <label for="">University</label>
                        <input name="university" type="text" class="form-control" id="university"  placeholder="MIT">
                    </div>

                    <div class="form-group">
                        <label for="">Skill</label>
                        <textarea rows="2" cols="50" name="skill" id="skill" type="text" class="form-control" placeholder="eg C, C++, Python" required> </textarea>
                    </div>

                    <div class="form-group">
                        <label for="">About You</label>
                        <textarea rows="2" cols="50" name="about_you" id="about_you" type="text" class="form-control" placeholder="Write something about you" required> </textarea>
                    </div>

                    <div class="form-group">
                        <label for="">Previous Work</label>
                        <textarea rows="2" cols="50" name="previous_work" id="previous_work" type="text" class="form-control" placeholder="Write about your Previous work"> </textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>


    </div>
    
</body>
</html>