<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title> {{user_profile.name}} | Resume</title>
</head>

<body>

<div class="container">

  <div>
    <h2> {{user_profile.name}} </h2>
    <hr>
    <h2> {{user_profile.phone}} </h2>
    <hr>
    <h3> {{user_profile.email}} </h3>
    <hr>
    <hr>
    <h2>Summary</h2>
    <hr>
    <h4>About me</h4>
    <p> {{user_profile.about_you}} </p>
    <hr>
    <h4>Skill</h4>
    <p>{{user_profile.skill}} </p>
    <hr>

    <h4>Educational Background</h4>
    <ul>
      <li>Graduated School form {{user_profile.school}} </li>
      <li> {{user_profile.degree}} From {{user_profile.university}}</li>
    </ul>

    <hr> 
    <h4>Working History </h4>
    <p> {{user_profile.previous_work}} </p>
    <hr>

</div>


  </div>

  
</body>
</html>